body {
	background-color: #EEEEEE;
	margin: 0;
	/*margin-top: 20px;*/
}

.header {
	background-color: #404040;
	display: inline-block;
	width: 100%;
	position: fixed;
	top: 0px;
	height: 80px;
	text-align: center;
	color: #fffcd3;
	font-size: 30px;
}

.content {
	padding-top: 80px;
	/*display: inline;*/
	background-color: #a5c3ff;
}

.footer {
	display: inline-block;
	background-color: #ccc;
	width: 100%;
}

.content .sidebar {
	width: 300px;
	background-color:#acadaf;
	float: left;
	position: fixed;
	height: 100vh;
}

.content .main-content {
	background-color: #a5c3ff;
	/*float: right;*/
	height: 8000px;
	padding-left: 300px;
	text-align: left;
}

.content .main-content div{
	/*height: 400px;*/
	/*border: solid black;*/
}

.content .main-content .intro {
	/*position: relative;*/
}

.content .main-content .intro .inner-intro {
	position: absolute;
	height: 100px;
	bottom: 0;
	background-color: gold;
}

xmp {
	background-color: #eee;
	border-left: 10px solid #808080;
	height: auto;
	display: inline-block;
	padding: 0px 10px;
	width: 100%;
	white-space: pre-wrap;
}

.code {
	width: 50%;
	display: inline-block;
}

.preview {
	width: 50%;
	display: inline-block;
}

.content .main-content .intro h2 {
	margin-top: 10px;
}